// body {
//   font-family: sans-serif;

//   a {
//     text-decoration: none;
//   }

//   label {
//     display: block;
//   }

//   nav a {
//     display: inline-block;
//     margin: 1em;
//   }

//   form div {
//     margin: 1em;
//     display: inline-block;
//   }
// }

.brand-logo {
  margin-left: 50px;
}

textarea {
  height: auto;
  background-color: #e8eaf6;
  text-align: center
}

nav {
  background-color: #9575cd
}

body {
  background-color: #f3e5f5
}
#welcome {
  text-align: center;
  font-family: Verdana;
}
p {
  text-align: center;
  font-family: Verdana;
}
#result {
  padding-left: 75px;
  padding-right: 75px;
}
.waves-effect {
  margin-left: 280px;
  background-color: #80deea;
  :hover {
    background-color: #4dd0e1
  }
}
.waves-effect:hover {
  background-color: #4dd0e1
}
